[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=bash -ci ' chromium-browser  'http://localhost''
Name=Sensor Visualization
Comment=Sensor Visualization
Icon=/home/dandu/carma_messenger_ws/src/carma-messenger/carma-messenger-ui/website/images/CARMA_icon_color.png
Name[en_US]=CARMA Messenger
Comment[en_US]=
