[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=chromium-browser 'http://localhost'
Name=CARMA Messenger
Comment=CARMA Messenger
Icon=/opt/carma-messenger/Pictures/CARMA_icon_color.png
Name[en_US]=CARMA Messenger
Comment[en_US]= 
