
 * {
    box-sizing: border-box
}

body {
    font-family: "Segoe UI",Arial,sans-serif;
    height: 100vh;
    width: 100vw;
    padding: 2vh 0vw 0vh 0vw;
    font-size: 20pt;
    line-height: 1.2; /***1.2 of font size**/
    overflow: hidden;
}


#messenger-index-div {
    text-align: center;
    background-color:#FFF; 
    height: 100vh;
}

.logo{
    height: 100%;  
    display: block;
    max-width:50%;
    margin-top: 10px;
}

#btnStart
{
    color: black;
    font-size: 90pt;
    background-color: transparent !important;
    border: transparent !important;
}
#btnStart:hover
{
    color: rgb(17, 247, 9);
    cursor: pointer;
}