<?xml version="1.0"?>
<!--
  Copyright (C) 2018-2020 LEIDOS.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<!--
	carma-messenger-docker.launch

  A the ros launch file for the CARMA Messenger ROS Network.
  Launches all the needed ros nodes and sets up the parameter server.

  File is meant to be run on a configured vehicle pc.
  Applies the appropriate arguments to the carma-messenger.launch file to launch on a vehicle
  using the Dockerized deployment of CARMA Messenger
-->
<launch>

  <!-- Rosbag Flag -->
  <arg name="use_rosbag" default="true"/>
  <remap from ="/outbound_binary_msg" to ="/comms/outbound_binary_msg">
  <!-- Include the detailed launch file and pass in new arguments -->
  <include file="$(find carma-messenger)/launch/carma-messenger.launch" pass_all_args="true"/>
</launch>
