#  Copyright (C) 2018-2021 LEIDOS.
#
#  Licensed under the Apache License, Version 2.0 (the "License"); you may not
#  use this file except in compliance with the License. You may obtain a copy of
#  the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
#  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#  License for the specific language governing permissions and limitations under
#  the License.

# Docker Compose Spec Version
version: '2'

services:
  roscore:
    image: usdotfhwastoldev/carma-base:noetic-develop
    network_mode: host
    container_name: roscore
    volumes_from:
      - container:carma-config:ro
    environment:
      - ROS_IP=192.168.0.51
    volumes:
      - /opt/carma/.ros:/opt/carma/.ros
    restart: always
    command: roscore

  messenger:
    image: usdotfhwastoldev/carma-messenger-core:noetic-develop
    network_mode: host
    container_name: carma-messenger-core
    volumes_from:
      - container:carma-config:ro
    environment:
      - ROS_IP=192.168.0.51
    volumes:
      - /opt/carma/logs:/opt/carma/logs
      - /opt/carma/.ros:/opt/carma/.ros
    command: wait-for-it.sh localhost:11311 -- roslaunch /opt/carma/vehicle/config/carma-messenger-docker.launch

  cohda_dsrc_driver:
    image: usdotfhwastoldev/carma-cohda-dsrc-driver:noetic-develop
    container_name: carma-cohda-dsrc-driver
    network_mode: host
    volumes_from:
      - container:carma-config:ro
    environment:
      - ROS_IP=192.168.0.51
    volumes:
      - /opt/carma/logs:/opt/carma/logs
      - /opt/carma/.ros:/opt/carma/.ros
    command: bash -c 'wait-for-it.sh localhost:11311 -- roslaunch /opt/carma/vehicle/config/drivers.launch drivers:=dsrc_driver'

  torc-pinpoint-driver:
    image: usdotfhwastoldev/carma-torc-pinpoint-driver:noetic-develop
    container_name: carma-torc-pinpoint-driver
    network_mode: host
    volumes_from:
      - container:carma-config:ro
    environment:
      - ROS_IP=192.168.0.51
    volumes:
      - /opt/carma/logs:/opt/carma/logs
      - /opt/carma/.ros:/opt/carma/.ros
    command: bash -c 'wait-for-it.sh localhost:11311 -- roslaunch /opt/carma/vehicle/config/drivers.launch drivers:=pinpoint_driver'
