name: Docker build
on:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  determine_docker_org_and_tag:
    runs-on: ubuntu-latest
    outputs:
      docker_organization: ${{ steps.docker-org-and-tag.outputs.docker_organization }}
      docker_image_tag: ${{ steps.docker-org-and-tag.outputs.docker_image_tag }}
    steps:
      - id: docker-org-and-tag
        uses: usdot-fhwa-stol/actions/docker-org-and-tag@main
  build:
    needs: determine_docker_org_and_tag
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and Push carma-messenger-ui Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./carma-messenger-ui/
      - name: Build and Push carma-messenger-core Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./carma-messenger-core/
          build-args: |
            GIT_BRANCH=${{  github.base_ref }}     
            DOCKER_TAG=${{ needs.determine_docker_org_and_tag.outputs.docker_image_tag }}
            DOCKER_ORG=${{ needs.determine_docker_org_and_tag.outputs.docker_organization }}
      - name: Build and Push chevrolet_tahoe_2018 Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./carma-messenger-config/chevrolet_tahoe_2018/

      - name: Build and Push development Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./carma-messenger-config/development/
